@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-5">

    <div class="card" id="divServidores">
        <div class="card-header">
            Arquivos
        </div>
        <div class="card-body">
            <ul id="ServidorLinks"></ul>
        </div>
    </div>

</div>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {

        fetch('/api/Servidores')
            .then(response => response.json())
            .then(data => {
                const ul = document.getElementById('ServidorLinks');
                data.forEach(servidor => {
                    if (servidor.NomeArquivoIni != null)
                    {
                        const li = document.createElement('li');
                        li.className = 'list-group-item';
                        const a = document.createElement('a');
                        a.href = `/Arquivos/${servidor.NomeArquivoIni}`; // Ajuste o href conforme necessário
                        a.textContent = servidor.NomeArquivoIni;
                        a.download = servidor.NomeArquivoIni; // Adiciona o atributo download para forçar o download
                        li.appendChild(a);
                        ul.appendChild(li);
                    }
                });
                fetchServidorConfiguracoes(true);
            })
            .catch(error => console.error('Erro ao carregar servidores:', error));
    });

</script>


